# Build Outputs
.out/
.outs/
build/
dist/

# Bundler Files
.next/
.nuxt/
.parcel-cache/
.pnp/
.pnp.js
.snowpack/
.svelte-kit/

# Dependency Directories
node_modules/

# Environment And Secrets
.env
.env.*.local

# Game Assets (Exclude unoptimized and large assets)
*.blend
*.exr
*.fbx
*.flac
*.gltf
*.glb
*.ico
*.kra
*.mp3
*.mp4
*.mov
*.obj
*.ogg
*.psd
*.tga
*.tif
*.tiff
*.tmp
*.translation
*.wav
*.webm
*.xcf

# Godot Specific Files
.android/
.editor_config
.export/
.godot/
.import/
.mono/

# IDE And Editor Files
*.code-workspace
.idea/
.project
.settings/
.vscode/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Other
**/assets/
.cache/
.eslintcache
.prettiercache
.stylelintcache

# Package Manager Files
.pnpm-debug.log
package-lock.json
yarn.lock

# PhaserJS Specific Files
public/build/
public/dist/

# System Files
.DS_Store
Thumbs.db

# Temporary Files
*.swp
*.temp
*.tmp

# Testing
.jest/
.nyc_output/
coverage/

# TypeScript
*.tsbuildinfo
